# Added manually.
*.sqlite3
the_points_chart/SECRET_KEY.txt
scripts/
static/icons
static/400 Hand-Drawn

__pycache__
*.pyc

# Copied from <https://github.com/github/gitignore/blob/master/Global/vim.gitignore>.
{._}*.s{a-w}{a-z}
{._}s{a-w}{a-z}
*.un~
Session.vim
.netrwhist
*~
