{% extends 'base.html' %}

{% block pagetitle %}
contacts
{% endblock %}

{% comment %}
{% block headertext %}
{{ coop.profile.short_name }}/{{ user }}
{% endblock %}
{% endcomment %}
{% load staticfiles %}

{% block body %}

<table id="contacts_table">
	<caption>Contact List for {{ coop.profile.full_name }}</caption>
	<thead>
		<tr><th>Name</th><th>Phone Number</th><th>Email Address</th><th>Birthday</th><th>Stewardship(s)</th></tr>
	</thead>
	<tbody>
	{% for cooper, stewardships in coopers %}
		<tr>
			<!--TODO: trying this for now to see if we get an extra space. If so, might need a separate field,-->
			<!--or to make it in the view, or whatever.-->
			<td>
				{{ cooper.profile.first_name }} {{ cooper.profile.middle_name }} {{ cooper.profile.last_name }}
			</td>
			<td>
				{{ cooper.profile.phone_number }}
			</td>
			<td>
				<a href="mailto:{{ cooper.profile.email_address }}">
					{{ cooper.profile.email_address }}
				</a>
			</td>
			<td>
				{{ cooper.profile.birthday|date:"Y-m-d" }}
			</td>
			<td>
				{{ stewardships }}
			</td>
		</tr>
	{% endfor %}
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tbody>
</table>
<form action="/contacts/export/">
	<input type="submit" class="submit_button" value="Export as vCard">
</form>
{% endblock %}
