{% extends 'base.html' %}

{% block pagetitle %}
Contact List.
{% endblock %}

{% comment %}
{% block headertext %}
{{ coop.profile.short_name }}/{{ user }}
{% endblock %}
{% endcomment %}
{% load staticfiles %}

{% block body %}

<table>
	<caption>Contact List for {{ coop.profile.full_name }}</caption>
	<thead>
	<tr><th>Name</th><th>Phone Number</th><th>Email Address</th></tr>
	</thead>
	<tbody>
	{% for cooper in coopers %}
		<tr>
			<!--TODO: trying this for now to see if we get an extra space. If so, might need a separate field,-->
			<!--or to make it in the view, or whatever.-->
			<td>
				{{ cooper.profile.first_name }} {{ cooper.profile.middle_name }} {{ cooper.profile.last_name }}
			</td>
			<td>
				{{ cooper.profile.phone_number }}
			</td>
			<td>
				{{ cooper.profile.email_address }}
			</td>
			<td></td>
		</tr>
	{% endfor %}
	<tr>
		<td></td>
		<td></td>
		<td>
			<form action="/contacts/export/">
				<input type="submit" class="submit_button" value="Export as vCard">
			</form>
		</td>
		<td>
			<object class="nav_icon" data={% static "icons/download.svg" %}>
				export button
			</object>
		</td>
	</tbody>
</table>
<!--TODO: style this.-->
{% comment %}
<a href="/contacts/export">Export</a> as a vCard.
{% endcomment %}
{% endblock %}
