{% extends 'base.html' %}

{% block pagetitle %}
Points Steward.
{% endblock %}

{% block head %}
{% load staticfiles %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>

<script src={% static "profiles/function_creators.js" %}></script>
<script src={% static "profiles/steward_edit.js" %}></script>
{% endblock head %}

{% block body %}
<div id="form_accordion">
{% for form in forms %}
<!--<div class="form_unit">-->
<h3>{{ form.title }}</h3>
	<div class="form_container">
		<form id="{{ form.html_id }}" method="post">
			<table>
				<!--<div class="form_fields">-->
							{% comment %}
							{% csrf_token %}
							{% endcomment %}
							{{ form.form_content.as_table }}
				<!--</div>-->
				<!--<div>-->
					<tr>
						<td></td>
						<td>
							<input class="submit_button" type="submit" value="Submit Changes"/>
						</td>
						<td class="form_status"></td>
					</tr>
				<!--</div>-->
		</table>
		</form>
	</div>
	<!--<br>-->
<!--</div>-->
{% endfor %}
</div>
{% endblock %}
