{% extends 'base.html' %}

{% block pagetitle %}
profile
{% endblock %}

{% block head %}
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static "forms.css" %}"/>
<script src={% static "jquery-cookie/src/jquery.cookie.js" %}></script>
<script src={% static "function_creators.js" %}></script>
<script src={% static "profiles/profile_edit.js" %}></script>
{% endblock head %}

{% block body_header %}
Settings
{% endblock %}
{% block body %}
<div class="form_container">
	<form id="profile_form" method="post">
		{% include "form.html" %}
	</form>
</div>
{% endblock %}
