{% extends 'base.html' %}

{% block pagetitle %}
Points Steward.
{% endblock %}

{% block head %}
{% load staticfiles %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>

<script src={% static "function_creators.js" %}></script>
<script src={% static "steward/steward_edit.js" %}></script>
{% endblock head %}

{% block body %}
<div id="form_accordion">
{% comment %}
Use the inclusion tag here. See <https://docs.djangoproject.com/en/dev/howto/
custom-template-tags/#inclusion-tags>.
{% endcomment %}
{% for form in create_forms %}
<!--<div class="form_unit">-->
<h3>{{ form.title }}</h3>
	<div class="form_container">
		<form id="{{ form.html_id }}" method="post">
			<table>
				<!--<div class="form_fields">-->
							{% comment %}
							{% csrf_token %}
							{% endcomment %}
							{{ form.main_form.as_table }}
				<!--</div>-->
				<!--<div>-->
					<tr>
						<td></td>
						<td>
							<input class="submit_button" type="submit" value="Submit Changes"/>
						</td>
						<td class="form_status"></td>
					</tr>
				<!--</div>-->
		</table>
		</form>
	</div>
	<!--<br>-->
<!--</div>-->
{% endfor %}
{% for form in edit_forms %}
<h3>{{ form.title }}</h3>
	<div class="form_container">
		{% comment %}
		TODO: think of a good way to name these.
		{% endcomment %}
		<form id="{{ form.html_id }}_selector" method="get">
			<table>
							{% comment %}
							{% csrf_token %}
							{% endcomment %}
							{% comment %}
							TODO: rename this junk as well.
							{% endcomment %}
							{{ form.selector_form.as_table }}
		</table>
		</form>
		<form id="{{ form.html_id }}" method="post">
		</form>
	</div>
{% endfor %}
</div>
{% endblock %}
