{% extends 'base.html' %}

{% block pagetitle %}
steward
{% endblock %}

{% block head %}
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static "balances.css" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "forms.css" %}"/>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
<script src={% static "function_creators.js" %}></script>
<script src={% static "steward/steward_edit.js" %}></script>
{% endblock head %}

{% block body %}
<div id="outer_accordion">
<h2>Overview of the Co-op</h2>
<div id="overview">
<h3>Summary</h3>
<table>
	<thead>
	</thead>
	<tbody>
	<tr>
		<th>Co-oper</th>
		{% for point_cycle in point_cycles %}
			<th title="{{ point_cycle.cycle_start }} to {{ point_cycle.cycle_stop }}">
				Cycle {{ point_cycle.cycle_num }}
			</th>
		{% endfor %}
	</tr>
	{% for section in balance_sections %}
		{% for subsection in section.children %}
			<tr>
				<td class="table_subsection">
					<a href="/chores/{{ subsection.title }}">
						{{ subsection.title }}
					</a>
				</td>
				{% for element in subsection.children %}
					<td class="{{ element.CSS_classes }}" title="{{ element.title }}">{{ element.content }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	{% endfor %}
	</tbody>
</table>
</div>

{% comment %}
Use the inclusion tag here. See <https://docs.djangoproject.com/en/dev/howto/
custom-template-tags/#inclusion-tags>.
{% endcomment %}
<h2>Forms for Creating</h2>
<div id="creating_forms">
{% for form in create_forms %}
<h3>{{ form.title }}</h3>
	<div class="form_container">
		<form id="{{ form.html_id }}" method="post">
			<table>
							{% csrf_token %}
							{{ form.main_form.as_table }}
					<tr>
						<td></td>
						<td>
							<input class="submit_button" type="submit" value="Submit Changes"/>
						</td>
						<td class="form_status"></td>
					</tr>
		</table>
		</form>
	</div>
{% endfor %}
</div>
<h2>Forms for Editing</h2>
<div id="editing_forms">
{% for form in edit_forms %}
<h3>{{ form.title }}</h3>
	<div class="form_container">
		{% comment %}
		TODO: think of a good way to name these.
		{% endcomment %}
		<form id="{{ form.html_id }}_selector" method="get">
			<table>
							{% csrf_token %}
							{% comment %}
							TODO: rename this junk as well.
							{% endcomment %}
							{{ form.selector_form.as_table }}
		</table>
		</form>
		<form id="{{ form.html_id }}" method="post">
		</form>
	</div>
{% endfor %}
</div>
</div>
{% endblock %}
