{% extends 'base.html' %}

{% block pagetitle %}
steward
{% endblock %}

{% block head %}
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static "balances.css" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "forms.css" %}"/>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
<script src={% static "function_creators.js" %}></script>
<script src={% static "steward/steward_edit.js" %}></script>
{% endblock head %}

{% block body %}
<div id="outer_accordion">
<h2>Overview of the Co-op</h2>
<div id="overview">
<!--<h3>Particulars</h3>-->
<!--<div>-->
<!--</div>-->
<h3>Summary</h3>
<table>
	<caption>Balances</caption>
	<thead>
	</thead>
	<tbody>
	<tr>
		<th>Co-oper</th>
		{% for point_cycle in point_cycles %}
			<th title="{{ point_cycle.cycle_start }} to {{ point_cycle.cycle_stop }}">
				Cycle {{ point_cycle.cycle_num }}
			</th>
		{% endfor %}
	</tr>
	{% for section in rows %}
		<!--<tr><th>{{ section.title }}</th></tr>-->
		{% for subsection in section.sections %}
			<tr>
				<td style="text-align: left">
					<a href="/chores/{{ subsection.title.username }}/">
						{{ subsection.title.username }}
					</a>
				</td>
				{% for dictionary in subsection.dictionaries %}
				<td class="{{ dictionary.CSS_class }}" title="{{ dictionary.html_title }}">{{ dictionary.formatted_value }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	{% endfor %}
	</tbody>
</table>
</div>

{% comment %}
Use the inclusion tag here. See <https://docs.djangoproject.com/en/dev/howto/
custom-template-tags/#inclusion-tags>.
{% endcomment %}
<h2>Forms for Creating</h2>
<div id="creating_forms">
{% for form in create_forms %}
<!--<div class="form_unit">-->
<h3>{{ form.title }}</h3>
	<div class="form_container">
		<form id="{{ form.html_id }}" method="post">
			<table>
				<!--<div class="form_fields">-->
							{% csrf_token %}
							{{ form.main_form.as_table }}
				<!--</div>-->
				<!--<div>-->
					<tr>
						<td></td>
						<td>
							<input class="submit_button" type="submit" value="Submit Changes"/>
						</td>
						<td class="form_status"></td>
					</tr>
				<!--</div>-->
		</table>
		</form>
	</div>
	<!--<br>-->
<!--</div>-->
{% endfor %}
</div>
<h2>Forms for Editing</h2>
<div id="editing_forms">
{% for form in edit_forms %}
<h3>{{ form.title }}</h3>
	<div class="form_container">
		{% comment %}
		TODO: think of a good way to name these.
		{% endcomment %}
		<form id="{{ form.html_id }}_selector" method="get">
			<table>
							{% csrf_token %}
							{% comment %}
							TODO: rename this junk as well.
							{% endcomment %}
							{{ form.selector_form.as_table }}
		</table>
		</form>
		<form id="{{ form.html_id }}" method="post">
		</form>
	</div>
{% endfor %}
</div>
</div>
{% endblock %}
