{% extends 'base.html' %}

{% block pagetitle %}
All Chores.
{% endblock %}

{% block headertext %}
coop/{{ user }}
{% endblock %}
<!--Logged in as {{ user }}.-->

{% block body %}
{% for day_chores in chores_by_day %}
	<h1> {{ day_chores.weekday }}, {{ day_chores.date }} </h1>
	<ul>
		{% for instance in day_chores.instances %}
		<li> <strong>{{ instance.chore.chore.short_name }}.</strong>
		{% if instance.flags.needs_sign_up %}
			Click here to sign up.
		{% else %}
		<!--TODO: how to best do this? First just converting everything to flags. Thinking make it a diagnosis thing.-->
			{% if instance.flags.user_signed_up %}
				You are
			{% else %}
				{{ instance.chore.signed_up.display_name }} is
			{% endif %}
			signed up.
			{% if instance.flags.needs_sign_off %}
				Click here to sign off.
			{% else %}
				{% if instance.flags.user_signed_off %}
					You
				{% else %}
					{{ instance.chore.signed_off.display_name }}
				{% endif %}
				signed off.
			{% endif %}
		{% endif %}
		{% endfor %}
	</ul>
{% endfor %}




{% endblock %}
