body {
	background-color: black;
}

.header {
	font-size: 3em;
	text-color: white;
	height: 10%;
	width: 100%;
	position: fixed;
}

.left_bar {
	text-color: white;
	float: right;
	position: fixed;
	width: 20%;
	height: 100%;
}

.main_content {
	background-color: white;
	text-color: black:
	border-radius: 15px;
	float: right;
}
	
