
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-attention-alt:before { content: '\e803'; } /* '' */