#chores {
	margin-top: -0.5em;
}

#current_balance {
	vertical-align: middle;
	line-height: 1em;
	padding: 0.25em;
	border-radius: 0;
	/*For initial question mark.*/
	font-size: 4em;
}

#right_sidebar {
	width: 7em;
}

#loaderImage {
	width: 100%;
}

#loaderMessage {
	font-size: 2em;
	position: absolute;
	white-space: nowrap;
}

.button_cell {
	white-space: nowrap;
	/*TODO: I do not understand what this is doing*/
	/*or why it works.*/
	width: 0em;
}

/*Hide titlebar in JQuery dialog.*/
.ui-widget-header {
	background: none;
	border: 0;
}

table.chores_list td {
	display: table-cell;
}


button.chore_button {
	text-align: left;
	font-weight: normal;
	font-variant: normal;
	font-size: 1em;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	color: #000000;
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}

/*Need to repeat this in order to override `button:disabled` styling.*/
.chore_button:not(.user_signed_up):disabled {
	color: #000000;
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}

.void_button, .chore_dropdown_button {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	color: #000000;
	padding: 0;
	border: 0;
	font-size: 1.5em;
}

.void_button:disabled, .chore_dropdown_button:disabled {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	color: #CCCCCC;
}

.chore_button.needs_sign_up, .chore_button.needs_sign_off {
	background-color: #B8D8F5;
	border-color: #B8D8F5;
}

.chore_button.user_signed_up {
	background-color: #F1C232;
	border-color: #F1C232;
}

.completed_successfully {
	text-decoration: line-through;
	font-size: 0.5em;
}

.voided {
	text-decoration: line-through;
}

@media screen and (min-width: 681px) {
	button.chore_button {
		width: 35em;
	}
}

@media screen and (max-width: 680px) {
	table.chores_list {
		width: 100%;
	}

	button.chore_button {
		width: 100%;
		font-size: 1.25em;
	}
}
