#chores {
	margin-top: -1em;
}

#current_balance {
	vertical-align: middle;
	line-height: 1em;
	padding: 0.25em;
	border-radius: 0;
	/*For initial question mark.*/
	font-size: 4em;
}

#right_sidebar {
  width: 7em;
}

#load_more_button {
	font-size: 1.5em;
	background-color: #073763;
	color: #FFFFFF;
	border-color: #073763;
	width: 100%;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0.6em;
	border-top-right-radius: 0;
}

/*TODO: this is just copying the general `button:disabled` styling from*/
/*the `common.css` file. Haven't looked into doing this nicely yet.*/
#load_more_button:disabled {
	background-color: #CCCCCC;
	border-color: #CCCCCC;
	color: #FFFFFF;
}

#loaderImage {
	width: 100%;
}

#loaderMessage {
	font-size: 2em;
	position: absolute;
	white-space: nowrap;
}

table.chores_list td.button_cell {
	white-space: nowrap;
	vertical-align: top;
}

table.chores_list td.buttons_cell ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@media (orientation: landscape) {
	.buttons_cell ul {
		display: table;
		table-layout: fixed;

		/*width: 100%;*/
	}

	.buttons_cell ul li {
		display: table-cell;
	}
}

@media (orientation: portrait) {
	table.chores_list td.buttons_cell {
		/*Doesn't seem to work.*/
		height: 100%;
	}

	.buttons_cell ul {
		min-width: 100%;
		height: 100%;


		display: table;
		/*display: block;*/
	}

	.buttons_cell ul li {
		min-width: 100%;
		/*height: 100%;*/


		display: table-cell;
		/*display: block;*/
	}

	.buttons_cell ul li button {
		min-width: 100%;
		/*height: 5em;*/
		height: 100%;
	}

	.buttons_cell {
		height: 100%;
		/*font-size: 2em;*/
		/*transform: rotate(-0.25turn);*/
	}

	.chore_cell {
		font-size: 1.5em;
	}

	.no_button {
		display: none;
	}
}

table.chores_list td.chore_cell {
	width: 33em;
	padding-left: 3em;
	text-indent: -2.75em;
	/*text-align: justify;*/
	border-top-right-radius: 0.6em;
	border-bottom-right-radius: 0.6em;
}

/*This needs to come after the disabled selector so that it*/
/*overrides on 'no_button' disabled buttons.*/
/*table.chores_list button.no_button {*/
	/*background-color: #FFFFFF;*/
	/*color: #FFFFFF;*/
	/*border-color: #000000;*/
/*}*/

.signed_up_button, .signed_off_button {
	background-color: #073763;
	border-color:	#073763;
	color: #F1C232;
}

.voided_button {
	background-color: #FF0000;
	border-color: #FF0000;
	color: #000000;
}

.signed_up_button.revert, .signed_off_button.revert {
	background-color: #F1C232;
	border-color: #F1C232;
	color: #073763;
}

.voided_button.revert {
	background-color: #000000;
	border-color: #000000;
	color: #FF0000;
}

.needs_sign_up {
	background-color: #B8D8F5;
}

.needs_sign_off {
	background-color: #B8D8F5;
}

.voided {
	text-decoration: line-through;
}

.user_signed_up {
	background-color: #F1C232;
}

.user_signed_off {
}

.completed_successfully {
	text-decoration: line-through;
}
