* {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background-color: #073763;
}

h1 {
	margin-top: 0em;
}

h2 {
	margin-bottom: 0.25em;

}

#wrapper {
	min-height: 100%;
	position: relative;
}

#header, #left_sidebar {
	color: white;
}

#header {
	overflow: auto;
	width: 100%;
}

#nav_bar {
	font-size: 2em;
	float: right;

	display: table;
	table-layout: fixed;

	list-style-type: none;
	padding: 0;
	margin: 0 0.25em 0 0;
}

#nav_bar.unauthenticated {
	display: none;
}


#nav_bar li {
	display: table-cell;
	padding-left: 1em;
	white-space: nowrap;
}

.nav_button a {
	display: block;
}

.nav_icon {
	margin-left: -0.2em;
	vertical-align: middle;
}

#middle_section {
	clear: both;
	width: 100%;
}

.about_section {
	max-width: 33em;
}

.sidebar {
	position: fixed;
	text-align: center;
	z-index: 1;
}

#right_sidebar {
	bottom: 0;
	right: 0;
}

#left_sidebar object {
	pointer-events: none;
}

#left_sidebar li {
	position: relative;
}

#left_sidebar a {
	display: block;
}

/*
//<http://stackoverflow.com/a/3494108>
#left_sidebar span.nav_icon_spanner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	z-index: 1;
}
*/

#main_content {
	background-color: #FFFFFF;
	color: black;
}

#left_sidebar ul {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

#logo {
	float: left;
	font-size: 3em;
	/*Just trying to line this up with the left sidebar.*/
	/*This value is reliant on the font size being used.*/
	margin-left: 0.25em;
}

table caption {
	font-variant: small-caps;
	font-size: 1.5em;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #F1C232;
}

button, input[type='submit'] {
	vertical-align: middle;
}

button.styled_button, input[type='submit'].styled_button {
	border-radius: 0.6em;
	border-style: solid;
	border-style: solid;
	border-width: 0.2em;
	border-width: 0.2em;
	color: #FFFFFF;
	display: block;
	display: inline-block;
	font-size: 0.75em;
	font-variant: small-caps;
	font-weight: bold;

	background-color: #073763;
	border-color: #073763;
	color: #FFFFFF;
}

/*TODO: decide what to apply this to.*/
button:disabled {
	background-color: #CCCCCC;
	border-color: #CCCCCC;
	color: #FFFFFF;
}

button:active {
	background-color: #FFFFFF;
	border-color: #000000;
	color: #000000;
}

#main_content a {
	font-weight: bold;
}

select {
	max-width: 16em;
}

@media screen and (min-width: 681px) {

	#left_sidebar ul.unauthenticated {
		visibility: hidden;
	}

	#unauthenticated_logo {
		display: none;
	}

	#main_content {
		border-bottom-width: 0em;
		border-color: #F1C232;
		border-left-width: 0.3em;
		border-right-width: 0em;
		border-style: solid;
		border-top-left-radius: 1em;
		border-top-width: 0.3em;
		padding-left: 1em;
	}

	#left_sidebar {
		left: 0;
		text-align: center;
	}

	#left_sidebar ul {
		/*Testing.*/
		/*display: inline-block;*/
		margin-left: 0.75em;
		margin-right: 0.75em;
	}

	.sidebar {
		bottom: 0;
	}
}

@media screen and (max-width: 680px) {
	#left_sidebar ul.unauthenticated {
		display: none;
	}

	#unauthenticated_logo {
		text-align: center;
		font-size: 3em;
		color: #F1C232;
	}

	#header {
		display: none;
	}

	#main_content {
		border-style: none;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	#left_sidebar {
		background-color: #073763;
		border-color: #F1C232;
		border-style: solid;
		border-width: 0 0 0.3em 0;
		overflow: auto;
		padding-bottom: 0.4em;
		top: 0;
		width: 100%;
	}

	#left_sidebar ul {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	#left_sidebar ul li {
		display: table-cell;
	}

	#left_sidebar ul li object {
		height: 3.5em;
		width: 3.5em;
	}
}

