table {
	table-layout: fixed;
}

form th {
	text-align: left;
}

form.submit_button {
	float: right;
}

.form_container {
	display: table-cell;
}

.form_fields {
	display: table-row;
}

.form_error {
	color: red;
}

.form_success {
	color: green;
}

.form_status {
	font-weight: bold;
}

.form_report {
	color: red;
}
