html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	background-color: #073763;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#header, #footer, #sidebar {
	color: white;
}

#header, #footer {
	width: 100%;
}

#header {
	top: 0em;
	height: 3.5em;
	/*position: fixed;*/
	/*border: 5px solid white;*/
}

#footer {
	clear: both;
	height: 3em;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

#middle_section {
	/*display: table-row;*/
	width: 100%;
	/*position: relative;*/
	/*min-height: 80%;*/
	height: 100%;
	width: 100%;
	/*This should be the height of the footer.*/
	padding-bottom: 3em;
}

#sidebar, #main_content {
	/*display: table-cell;*/
	min-height: 100%;
	/*height: 100%;*/
}

#sidebar {
	position: fixed;
	top: 100%;
	/*vertical-align: baseline;*/
	text-align: center;
	/*This is the number of icons times their heights.*/
	/*Plus whatever extra space you add I guess.*/
	margin-top: -15em;
	/*TODO: look up what this does.*/
	z-index: 1;
}

#main_content {
	/*position: absolute;*/
	/*float: right;*/
	border-radius: 15px;
	/*max-width: 90%;*/
	background-color: white;
	color: black;
	padding: 1em;
	margin-left: 5em;
	/*margin-left: 3.5em;*/
	/*margin-top: 3.5em;*/
}

#sidebar.nav_icon {
	margin-left: 0em;
}

#sidebar .nav_button a:hover {
	margin-left: 1em;
}

#logo {
	float: left;
	font-size: 3em;
}

.nav_bar {
	float: right;
	font-size: 1.5em;
	/*TODO: this is gross. Figure out how to do it the right way.*/
	margin-top: 0.5em;
	margin-right: 0.75em;
}

/*TODO: I don't know why we need this.*/
#footer.nav_bar {
	margin-right: 0em;
}

.nav_button {
	float: left;
	margin-left: 1em;
	/*position: absolute;*/
}

.nav_button a {
	display: block;
	text-decoration: none;
	color: white;
}

#header .nav_button a:hover {
	/*border: 0.05em solid #F1C232;*/
	/*border-radius: 5%;*/
	color: #F1C232;
	margin-top: 0.5em;
	/*font-weight: bold;*/
}

.nav_icon {
	vertical-align: middle;
	margin-left: -0.2em;
}

ul.chores_list {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	list-style-type: none;
}


.past {
	/*background-color: #D3D3D3;*/
	opacity: 0.5;
}

.near_future {
	background-color:#B6D7A8;
}

.distant_future {
	opacity: 0.75
}

.past:hover, .distant_future:hover {
	opacity: 1;
}

.needs_sign_up {
	background-color: #CFE2F3;
}

.needs_sign_off {
	background-color: #F3E0CF;
}

.completed_successfully {
	background-color: #E2F3CF;
}

.voided {
	background-color: #E0CFF3;
}

.user_signed_up {
	background-color: #F1C232;
}

.user_signed_off {
	background-color: #C1F132;
}

form th {
	text-align: left;
}

form.submit_button {
	/*text-align: right;*/
	float: right;
}

.form_error {
	color: red;
}

.form_container {
	display: table-cell;
}

.form_fields {
	display: table-row;
}
