/*TODO: split this into smaller files, with this reserved for common styling?*/
* {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	background-color: #073763;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #F1C232;
}

button, button:active {
	outline-style: 0;
}

/*a, button {*/
/*[>Copied from <http://stackoverflow.com/a/4407335>.<]*/
	/*-webkit-touch-callout: none;*/
	/*-webkit-user-select: none;*/
	/*-khtml-user-select: none;*/
	/*-moz-user-select: none;*/
	/*-ms-user-select: none;*/
	/*user-select: none;*/
/*}*/

table caption {
	font-variant: small-caps;
	font-size: 1.5em;

}

#main_content a {
	font-weight: bold;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#header, #footer, #sidebar {
	color: white;
}

#header, #footer {
	width: 100%;
	overflow: auto;
}

#header {
}

#footer {
	clear: both;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 1;
}

#middle_section {
	width: 100%;
	clear: both;
}

#sidebar {
	position: fixed;
	bottom: 0;
	text-align: center;
	/*TODO: look up what this does.*/
	z-index: 1;
}

#sidebar object {
	pointer-events: none;
}

#current_balance { 
	position: fixed;
	/*All other em measurements are in multiples of this font size.*/
	font-size: 3em;
	bottom: 0.5em;
	right: 0.5em;
	vertical-align: middle;
	line-height: 1em;
	padding: 0.25em;
	z-index: 1;
	border-radius: 0.333333em;
}

/*TODO: go to the view that does current_balance and get it so that you can remove this stuff*/
/*from the #current_balance stuff.*/
.balance {
	text-align: center;
	color: #FFFFFF;
}

.very_low_balance {
	background-color: #FF0000;
}

.low_balance {
	background-color: #FF8080;
}

.OK_balance {
	background-color: #7E7E7E;
}

.high_balance {
	background-color: #FF8080;
}

.very_high_balance {
	background-color: #FF0000;
}

#main_content {
	border-radius: 1em;
	background-color: white;
	color: black;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.125em;
	padding-bottom: 0.125em;
	margin-left: 5em;
	overflow: auto;
}

#sidebar.nav_icon {
	margin-left: 0em;
}

#sidebar .nav_button a:hover {
	margin-left: 0.5em;
}

#logo {
	float: left;
	font-size: 3em;
}

.nav_bar {
	float: right;
	font-size: 2em;
	/*TODO: this is gross. Figure out how to do it the right way.*/
	margin-top: 0.25em;
	margin-right: 0.75em;
}

.nav_button {
	float: left;
	margin-left: 1em;
}

.nav_button a {
	display: block;
}

.nav_icon {
	vertical-align: middle;
	margin-left: -0.2em;
}

ul.chores_list {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	list-style-type: none;
}

table.chores_list button {
	display: block;
	font-variant: small-caps;
	font-size: 0.5em;
	color: #FFFFFF;
	font-weight: bold;
	border-width: 0.2em;
	border-style: solid;
	border-radius: 0.6em;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

table.chores_list button:disabled {
	background-color: #FFFFFF;
	color: #000000;
	border-color: #000000;
}

/*This needs to come after the disabled selector so that it*/
/*overrides on 'no_button' disabled buttons.*/
table.chores_list button.no_button {
	background-color: #FFFFFF;
	color: #FFFFFF;
	border-color: #000000;
}

button:active {
	background-color: #FFFFFF;
	color: #000000;
	border-color: #000000;
	
}

.signed_up_button, .signed_off_button {
	background-color: #073763;
	border-color:	#073763;
	color: #F1C232;
}

.voided_button {
	background-color: #FF0000;
	border-color: #FF0000;
	color: #000000;
}

.signed_up_button.revert, .signed_off_button.revert {
	background-color: #F1C232;
	border-color: #F1C232;
	color: #073763;
}

.voided_button.revert {
	background-color: #000000;
	border-color: #000000;
	color: #FF0000;
}

.needs_sign_up {
	background-color: #B8D8F5;
}

.needs_sign_off {
	background-color: #B8D8F5;
}

.voided {
	text-decoration: line-through;
}

.user_signed_up {
	background-color: #F1C232;
}

.user_signed_off {
}

.completed_successfully {
	text-decoration: line-through;
}

form th {
	text-align: left;
}

form.submit_button {
	float: right;
}

.form_error, .form_status {
	color: red;
}

.form_container {
	display: table-cell;
}

.form_fields {
	display: table-row;
}

.form_report {
	color: red;
}

.larger_text {
	font-size: 1.25em;
}

#contacts_table {
	border-spacing: 2em 0em;
}

#selected_information_table {
	border-spacing: 4em 0em;
}

#balances_table {
	font-size: 1.5em;
}

.selected_information_section {
	vertical-align: top
}
