<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>tpc | {% block pagetitle %}{% endblock %}</title>
<link rel="icon" href="{% static "icons/favicon.png" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "common.css" %}"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src={% static "resizers.js" %}></script>
{% block head %}
{% endblock head %}
</head>

{% comment %}
http://stackoverflow.com/questions/11374059/make-an-html-svg-object-also-a-clickable-link
{% endcomment %}

<body>
<div id="wrapper">
	<div id="header">
		{% block headertext %}
		<span id="logo">
			<a href="/">the points chart</a>
		</span>
		<ul id="nav_bar" class="{% if user.is_authenticated %}{% else %}unauthenticated{% endif %}">
			<li>
				<a href="/chores/">
					chores
					<object class="nav_icon" data={% static "icons/house.svg" %}>
						chores-button
					</object>
				</a>
			</li>
			<li>
				<a href="/chores/{{ user }}/">
					stats
					<object class="nav_icon" data={% static "icons/calculator.svg" %}>
						stats-button
					</object>
				</a>
			</li>
			<li>
				<a href="/contacts/">
					contacts
					<object class="nav_icon" data={% static "icons/love2.svg" %}>
						contacts-button
					</object>
				</a>
			</li>
			<li>
				<a href="/settings/">
					settings
					<object class="nav_icon" data={% static "icons/cog.svg" %}>
						settings-button
					</object>
				</a>
			</li>
			<li>
				<a href="/logout/">
					log out
					<object class="nav_icon" data={% static "icons/forward2.svg" %}>
						log-out-button
					</object>
				</a>
			</li>
		</ul>
		{% endblock %}
	</div>

	<div id="left_sidebar" class="sidebar">
		<ul class="{% if user.is_authenticated %}{% else %}unauthenticated{% endif %}">
			{% if user.profile.points_steward %}
			<li>
				<a href="/steward/">
					<object class="nav_icon" data={% static "icons/tool3_big.svg" %}>
						steward-button
					</object>
				</a>
			</li>
			{% endif %}
			<li>
				<a href="/balances/">
					<object class="nav_icon" data={% static "icons/balance_big.svg" %}>
						balance-button
					</object>
				</a>
			</li>
			<li>
				<a href="/chores/">
					<object class="nav_icon" data={% static "icons/house_big.svg" %}>
						chores-button
					</object>
				</a>
			</li>
			<li>
				<a href="/chores/{{ user }}/">
					<object class="nav_icon" data={% static "icons/calculator_big.svg" %}>
						stats-button
					</object>
				</a>
			</li>
			<li>
				<a href="/contacts/">
					<object class="nav_icon" data={% static "icons/love2_big.svg" %}>
						contacts-button
					</object>
				</a>
			</li>
			<li>
				<a href="/settings/">
					<object class="nav_icon" data={% static "icons/cog_big.svg" %}>
						settings-button
					</object>
				</a>
			</li>
			<li>
				<a href="/logout/">
					<object class="nav_icon" data={% static "icons/forward2_big.svg" %}>
						log out-button
					</object>
				</a>
			</li>
		</ul>
		{% if user.is_authenticated %}{% else %}
		<span id="unauthenticated_logo">the points chart</span>
		{% endif %}

	</div>
	<div id="right_sidebar" class="sidebar">
		{% block right_sidebar %}
		{% endblock %}
	</div>
	<div id="middle_section">
		<div id="main_content">
			<h1>{% block body_header %}{% endblock %}</h1>
			{% block body %}
			{% endblock %}
		</div>
	</div>
</div>
</body>
</html>
