<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
<title>tpc | {% block pagetitle %}{% endblock %}</title>
<link type="text/css" rel="stylesheet" href="{% static "stylesheet.css" %}"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src={% static "resizers.js" %}></script>
{% block head %}
{% endblock head %}
</head>

<body>
<div id="wrapper">
<div id="header">
	{% block headertext %}
	<span id="logo">
		<a href="/">the points chart</a>
	</span>
	<div class="nav_bar">
		<span class="nav_button">
			<a href="/chores/#today">
				chores
				<object class="nav_icon" data={% static "icons/house.svg" %}>
					chores button
				</object>
			</a>
		</span>
		<span class="nav_button">
			<a href="/chores/{{ user }}/">
				stats
				<object class="nav_icon" data={% static "icons/calculator.svg" %}>
					stats button
				</object>
			</a>
		</span>
		<span class="nav_button">
			<a href="/contacts/">
			contacts
			<object class="nav_icon" data={% static "icons/love2.svg" %}>
				contacts button
			</object>
			</a>
		</span>
		<span class="nav_button">
			<a href="/settings/">
				settings
				<object class="nav_icon" data={% static "icons/cog.svg" %}>
					settings button
				</object>
			</a>
		</span>
		<span class="nav_button">
			<a href="/logout/">
				log out
				<object class="nav_icon" data={% static "icons/forward2.svg" %}>
					log out button
				</object>
			</a>
		</span>
	</div>
	{% endblock %}
</div>

<div id="middle_section">
	<div id="sidebar">
		<!--<div style="float: left; position: relative; clear: both;">-->
		<!--We use the 'img' instead of the 'svg' tag to make the icons clickable.-->
		{% if user.profile.points_steward %}
			<div class="nav_button">
				<a href="/steward/">
					<img class="nav_icon" src={% static "icons/tool3_big.svg" %} alt="steward button">
				</a>
			</div>
			<br>
		{% endif %}
			<div class="nav_button">
				<a href="/chores/#today">
					<img class="nav_icon" src={% static "icons/house_big.svg" %} alt="chores button">
				</a>
			</div>
			<br>
			<div class="nav_button">
				<a href="/chores/{{ user }}/">
					<img class="nav_icon" src={% static "icons/calculator_big.svg" %} alt="stats button">
				</a>
			</div>
			<br>
			<div class="nav_button">
				<a href="/contacts/">
					<img class="nav_icon" src={% static "icons/love2_big.svg" %} alt="contacts button">
				</a>
			</div>
			<br>
			<div class="nav_button">
				<a href="/settings/">
					<img class="nav_icon" src={% static "icons/cog_big.svg" %} alt="settings button">
				</a>
			</div>
			<br>
			<div class="nav_button">
				<a href="/logout/">
					<img class="nav_icon" src={% static "icons/forward2_big.svg" %} alt="log out button">
				</a>
			</div>
		</div>
	<!--</div>-->
	<div id="main_content">
	{% block body %}
	{% endblock %}
	</div>
</div>

<div id="footer">
	<div class="nav_bar">
		<div class="nav_button">
			<a href="/about/">
				about
				<object class="nav_icon" data={% static "icons/question2.svg" %}>
					about button
				</object>
			</a>
		</div>
	</div>
</div>

{% block current_balance %}
{% endblock %}
</div>
</body>
</html>
