{% extends 'base.html' %}

{% block head %}
{% load staticfiles %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src={% static "chores/all_chores.js" %}></script>
{% endblock head %}

{% block pagetitle %}
All Chores.
{% endblock %}

{% comment %}
{% block headertext %}
<!--the points chart-->
{% endblock %}
{% endcomment %}

{% block body %}
{% for day in days %}
<div class="{{ day.class }}">
	<h1 id="{{ day.id }}"> {{ day.weekday }}, {{ day.date }} </h1>
	<ul>
		{% for schedule_item in day.schedule %}
			<li class="{{ schedule_item.class }}" id="chore_{{ schedule_item.chore.id }}"> <strong>{{ schedule_item.chore.skeleton.short_name }}.</strong>
			{% for sentence in schedule_item.sentences %}
				<span id="{{ sentence.identifier }}_sentence_{{ schedule_item.chore.id }}">
					{% if sentence.report %}
						{{ sentence.report_text }}
					{% endif %}
					{% if sentence.button %}
					<button class="{{ sentence.identifier }}_button" id="{{ sentence.identifier }}_button_{{ schedule_item.chore.id }}" onclick="{{ sentence.JavaScript_function }}({{ schedule_item.chore.id }})">
							{{ sentence.button_text }}
					</button>
					{% endif %}
				</span>
			{% endfor %}
		{% endfor %}
	</ul>
	</div>
{% endfor %}

{% endblock %}
