{% extends 'base.html' %}

{% block head %}
{% load staticfiles %}
<script type="text/javascript" src={% static "chores/all_chores.js" %}>
</script>
{% endblock head %}

{% block pagetitle %}
All Chores.
{% endblock %}

{% block headertext %}
{{ coop }}/{{ user }}
{% endblock %}

{% block body %}
{% for day_chores in chores_by_day %}
	<div class="{{ day_chores.class }}">
	<h1> {{ day_chores.weekday }}, {{ day_chores.date }} </h1>
	<ul>
		{% for instance in day_chores.instances %}
			<li class="{{ instance.class }}" id="instance_{{ instance.chore.id }}"> <strong>{{ instance.chore.chore.short_name }}.</strong>
			{% comment %}
			TODO: The names of these things really are not very good.
			{% endcomment %}
			<span id="sign_up_sentence_{{ instance.chore.id }}">
				{% if "needs_sign_up" in instance.class %}
				{% comment %}
				TODO: understand this syntax/escaping stuff. Better yet, figure out a way to assign these handlers with
				JavaScript. How to do this when we don't know beforehand what the ids will be?
				Lucked out, escaping thing not necessary. Still look into using JavaScript.
				{% endcomment %}
				<button style="sign_up_button" onclick="signUp({{ instance.chore.id }})">Sign up</button>
				{% else %}
					{{ instance.sign_up_sentence }}
				{% endif %}
			</span>
			<span id="sign_off_sentence_{{ instance.chore.id }}">
				{% if "needs_sign_up" not in instance.class %}
					{% if "needs_sign_off" not in instance.class %}
						{{ instance.sign_off_sentence }}
					{% else %}
						{% if "user_signed_up" not in instance.class %}
							<button style="sign_off_button" onclick="signOff({{ instance.chore.id }})">Sign off</button>
						{% else %}
							Sign-off needed!
						{% endif %}
					{% endif %}
				{% endif %}
			</span>
		{% endfor %}
	</ul>
	</div>
{% endfor %}

{% endblock %}
