{% extends 'base.html' %}

{% block pagetitle %}
balances
{% endblock %}

{% block head %}
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static "balances_summarize.css" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "balances.css" %}"/>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
<script src={% static "chores/balances.js" %}></script>
{% endblock head %}


{% block body_header %}
Balances
{% endblock %}
{% block body %}
<table class="balances_table">
	<thead>
	</thead>
	<tbody>
	{% for row in accounts %}
		<tr>
			{% for account in row %}
				{% if account %}
					<td class="{{ account.balance.CSS_class }}" title="{{ account.balance.html_title }}">{{ account.balance.formatted_value }}</td>
					<td>
						{% if user.profile.points_steward %}
						<a href="/chores/{{ account.cooper.username }}/">
							{{ account.cooper.profile.nickname }}
						</a>
						{% else %}
							{{ account.cooper.profile.nickname }}
						{% endif %}
					</td>
				{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock body %}
