{% for point_cycle in cycles %}
	<div id="cycle_{{ point_cycle.id }}" class="{{ point_cycle.class }}">
	{% for day in point_cycle.days %}
		<div class="{{ day.class }}">
			{% if day.name %}
				<a name="{{ day.name }}"></a>
			{% endif %}
			<h2 id="{{ day.id }}">{{ day.weekday }} {{ day.date|date:"Y-m-d" }}</h2>
			<table class="chores_list">
				<thead></thead>
				<tbody>
				{% for schedule_item in day.schedule %}
				<tr id="chore_{{ schedule_item.chore.id }}_row">
					{% if user.profile.points_steward %}
					<td class="button_cell">
						<button id="steward_button_{{ schedule_item.chore.id }}"
							onclick="fetchChoreForm({{ schedule_item.chore.id }})"
							class="chore_dropdown_button">
							&#9998;
						</button>
					</td>
					{% endif %}
					<td id="chore_{{ schedule_item.chore.id }}" class="chore_cell">
						<button class="chore_button styled_button {{ schedule_item.class }}"
							id="chore_button_{{ schedule_item.chore.id }}"
							onclick="clickChore({{ schedule_item.chore.id }})"
							{% if schedule_item.chore_button.enabled %}
							{% else %}
								disabled=""
							{% endif %}>
							<strong>
						{% if schedule_item.chore.skeleton.url %}
							<a href="{{ schedule_item.chore.skeleton.url }}">{{ schedule_item.chore.skeleton.short_name }}</a>
						{% else %}
							{{ schedule_item.chore.skeleton.short_name }}
						{% endif %}
						({{ schedule_item.chore.skeleton.point_value }})</strong>
					<span id="chore_button_text_{{ schedule_item.chore.id }}">{{ schedule_item.chore_button.text }}</span>
				</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
	{% endfor %}
	</div>
{% endfor %}
