{% extends 'base.html' %}

{% block head %}
{% load staticfiles %}
<script src={% static "jquery-cookie/src/jquery.cookie.js" %}></script>
<script src={% static "chores/chores_list.js" %}></script>
<script src={% static "chores/balance_mover.js" %}></script>
{% endblock head %}

{% block pagetitle %}
chores
{% endblock %}

{% comment %}
{% block headertext %}
<!--the points chart-->
{% endblock %}
{% endcomment %}

{% block body %}
{% for point_cycle in cycles %}
	<div id="{{ point_cycle.id }}" class="{{ point_cycle.class }}">
	{% for day in point_cycle.days %}
		<div class="{{ day.class }}">
			{% if day.name %}
				<a name="{{ day.name }}"></a>
			{% endif %}
			<h1 id="{{ day.id }}"> {{ day.weekday }} {{ day.date|date:"Y-m-d" }} </h1>
			<ul class="chores_list">
				{% for schedule_item in day.schedule %}
				<li class="{{ schedule_item.class }}" id="chore_{{ schedule_item.chore.id }}">
					{% for sentence in schedule_item.sentences %}
						{% if sentence.button %}
						<button class="{{ sentence.identifier }}_button" id="{{ sentence.identifier }}_button_{{ schedule_item.chore.id }}" onclick="{{ sentence.JavaScript_function }}({{ schedule_item.chore.id }})">
								{{ sentence.button_text }}
						</button>
						{% endif %}
					{% endfor %}
				<strong>{{ schedule_item.chore.skeleton.short_name }} ({{ schedule_item.chore.skeleton.point_value }}):</strong>
					{% for sentence in schedule_item.sentences %}
						<span id="{{ sentence.identifier }}_sentence_{{ schedule_item.chore.id }}">
							{% if sentence.report %}
								{{ sentence.report_text }}
							{% endif %}
						</span>
					{% endfor %}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
	</div>
{% endfor %}

{% endblock %}

{% comment %}
TODO: check out <http://jsfiddle.net/karalamalar/atNva/9/>.
Forgot about this note and did it myself. Compare at some point.
{% endcomment %}
{% block current_balance %}
{% comment %}
<div id="current_balance" class="{{ current_balance.CSS_class }}">
	{{ current_balance.value }}
</div>
{% endcomment %}
<div id="current_balance" class="balance OK_balance">…</div>
{% endblock %}
