{% extends 'base.html' %}

{% block head %}
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static "balances.css" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "chores_list.css" %}"/>
<script src={% static "jquery-cookie/src/jquery.cookie.js" %}></script>
<script src={% static "resizers.js" %}></script>
<script src={% static "chores/chores_list.js" %}></script>
{% endblock head %}

{% block pagetitle %}
chores
{% endblock %}

{% comment %}
As of this writing this could be made a static page.
{% endcomment %}

{% block body %}
	<div id="chores"></div>
{% endblock %}

{% block right_sidebar %}
	<span id="loaderMessage"></span>
	<img id="loaderImage" alt="" src="{% static "ajax-loader.png" %}">
	<button id="load_more_button" onclick="fetchChores()">
		Load<br>More
	</button>
	<div id="current_balance" class="balance OK_balance">?</div>
{% endblock %}
