{% extends 'base.html' %}

{% block pagetitle %}
stats
{% endblock %}

{% comment %}
{% block headertext %}
{% endblock %}
{% endcomment %}
<!--Logged in as {{ user }}.-->

{% block head %}
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static "balances.css" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "user_stats_list.css" %}"/>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
<script src={% static "chores/user_stats_list.js" %}></script>
{% endblock head %}

{% block body_header %}
Information for {{ cooper.profile.nickname }}
{% endblock %}
{% block body %}
<div id="form_accordion">
<h2>Particulars</h2>
<table id="selected_information_table">
	<thead>
	</thead>
	<tbody>
		<tr>
			{% for section in list_sections %}
				<td class="selected_information_section">
					<h3>{{ section.title }}</h3>
					{% for subsection in section.children %}
						<h4>{{ subsection.title }}</h4>
						<!--TODO: consider changing this to just a paragraph. Will save vertical space/use up horizontal space.-->
						<ul>
							{% for element in subsection.children %}
							<li> {{ element.content }}
							{% endfor %}
						</ul>
					{% endfor %}
				</td>
			{% endfor %}
		</tr>
	</tbody>
</table>

<h2>Summary</h2>
<table>
	<thead></thead>
	<tbody>
	<tr>
		<th></th>
		{% for point_cycle in point_cycles %}
			<th title="{{ point_cycle.cycle_start }} to {{ point_cycle.cycle_stop }}">
				Cycle {{ point_cycle.cycle_num }}
			</th>
		{% endfor %}
	</tr>
	{% for section in table_sections %}
		<tr><th>{{ section.title }}</th></tr>
		{% for subsection in section.children %}
			<tr>
				<td class="subsection_title">{{ subsection.title }}</td>
				{% for element in subsection.children %}
					<td class="dictionary_item" title="{{ element.title }}">{{ element.content }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}
